
.userinfo {
    display: flex;
    align-items: center;
    
}

 
p {
    font-family: roboto;
    font-size: 15px;
}


#score {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    color: red;
    margin-left: 0px;
}

#start {
    height: 40px;
    width: 190px;
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: px;
    font-weight: bold;
    color: white;
    background-color: #f08b93;  /*#94c83f;*/
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

h1 {
    font-family: montserrat;
}



.Chuon {
    font-family: 'Black Ops One', cursive;
}

.CC {
    margin-right: 7px;
}

.game {
    margin-top: 30px;
}